/* components/ImageSlider.module.css */
.sliderContainer {
    max-width: 1800px; /* Adjust max-width as needed */
    max-height: 810px;
    margin: 3px auto;
}

/* Customize styles as needed */

.slick-prev,
.slick-next {
    font-size: 24px; /* Adjust font size as needed */
    color: black; /* Set the color to black */
}

.slick-prev:hover,
.slick-next:hover {
    color: #333; /* Adjust hover color as needed */
}

/* Hide buttons on smaller screens */
@media (max-width: 767px) {
    .slick-prev,
    .slick-next {
        display: none;
    }
}
